.custom_logincard{
    background-blend-mode: overlay;
    background-color: rgba(211, 175, 113, 0.2);
    /* opacity: 0.3; */
    /* color: #d3af71; */
    color: white;
    /* font-weight: 500; */
}