<div class="container">
    <div class="row">
        <div class="col col-4  col-sm-4 col-md-4">
        
        </div>

        <div class="col col-4  col-sm-4 col-md-4">
            
            <br>
            <div class="card custom_logincard">
                <!-- <div class="card-header text-center">
                </div> -->
                <div class="card-body">
                    <h5 style="text-align: center;">SignUp</h5>
                    <form action="">
                        User Name :
                        <input type="text" class="form-control"name="username" id=""[(ngModel)]="username"> 
                        Phone Number : 
                        <input type="text" class="form-control"name="phno" id="" [(ngModel)]="phno">
                        
                        Email: 
                        <input type="text" class="form-control"name="email" id=""[(ngModel)]="email">
                        
                        City: 
                        <input type="text" class="form-control"name="city" id=""[(ngModel)]="city">
                        
                        Password: 
                        <input type="password" class="form-control"name="pswd" id=""[(ngModel)]="pswd">
                        
                        Confirm Password: 
                        <input type="password" class="form-control"name="cpswd" id=""[(ngModel)]="cpswd">
                        <br>
                        <input type="button" class="text-primary" value="SignUp" (click)=newuser()>  
                        <input type="reset" style="float: right; "class="text-primary" value="Reset" >    
                    </form>
                    <p style="text-align: center;">Have Account ? <a href="">Login</a> </p>
                </div>
                <!-- <div class="card-footer text-muted text-center">
                </div> -->

              </div>
        </div>
        <div class="col col-4  col-sm-4 col-md-4">

        </div>
    </div>
</div>