<div class="container">
    <div class="row">
        <div class="col col-4  col-sm-4 col-md-4">

        </div>

        <div class="col col-4  col-sm-4 col-md-4">

            <br>
            <div class="card " style="background-color:lightblue;">
                <div class="card-header text-center">
                    Register your Restaurant Here...
                </div>
                <div class="card-body">
                    <form action="">
                        Owner Name :
                        <input type="text" class="form-control" name="name" id="" [(ngModel)]="ownername">

                        Phone Number :
                        <input type="text" class="form-control" name="phno" id="" [(ngModel)]="ownerphno">

                        Email:
                        <input type="text" class="form-control" name="email" id="" [(ngModel)]="owneremail">

                        License No:
                        <input type="text" class="form-control" name="licenseno" id="" [(ngModel)]="ownerlicenseno">

                        <!-- City 
                        <input type="text" class="form-control"name="city" id=""[(ngModel)]="ownercity"> -->

                        Password:
                        <input type="password" class="form-control" name="pwd" id="" [(ngModel)]="ownerpwd">

                        Confirm Password:
                        <input type="password" class="form-control" name="cpwd" id="" [(ngModel)]="ownercpwd">
                        <br>
                        <input type="button" class="text-primary" value="Register" (click)=newowner()>
                        <input type="reset" style="float: right; " class="text-primary" value="Reset">
                    </form>
                </div>
                <div class="card-footer text-muted text-center">
                    <p>Have Account ? <a href="">Login</a> </p>
                </div>

            </div>
        </div>
        <div class="col col-4  col-sm-4 col-md-4">

        </div>
    </div>
</div>
<app-restheader></app-restheader>