<!-- <p>userheader works!</p> -->

<div class="custom_ul">
<nav class="navbar navbar-expand-lg navbar-dark custom_navbar"  style="color: white;">
    <!-- <a class="navbar-brand" href="#">logo</a> -->
    <img src="../../assets/img/logo1.jpg" alt="LOGO" width="120" height="80">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <!-- <div  class="navbar-nav mx-auto "> -->
      <ul  class=" navbar-nav mx-auto custom_ul" >
      <!-- <a class="nav-item nav-link active" href="home">Home <span class="sr-only">(current)</span></a> -->
      <li><a class ="nav-item nav-link active" href="viewrest">View Restaurant</a></li>
      <li><a class ="nav-item nav-link active" href="userviewitem">View Dishes</a></li>
      <li><a class ="nav-item nav-link active" href="userreservationdetails">Reservation Details</a></li>
      <li><a class="nav-item nav-link disabled" href="userreservation">Book Table</a></li>
      <li><a class="nav-item nav-link active" href="#">Pricing</a></li>
      <li><a class="nav-item nav-link disabled" href="#">Disabled</a></li>
      <li><a class="nav-item nav-link active" href="">LogOut</a></li>
    </ul>
    <!-- </div> -->
  </div>
  <!-- <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form> -->
  </nav> 
</div>