
<!-- <p>userviewitem works!</p> -->
<!-- user view items of particular restaurant -->
<app-userheader></app-userheader>
<div class="container">
    <div class="row">
        <div class="col col-2 col-sm-2"></div>
        <div class="col col-8 col-sm-8">
            <h1 style="text-align: center;">{{restaurant.name}} </h1>
            <h4 style="text-align: center;">{{restaurant.city}}</h4>
            <br>

        </div>
        <div class="col col-2 col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col col-3 col-sm-3 " *ngFor="let i of result| paginate:{itemsPerPage: 4, currentPage:p}">
            <div class="card text-center" style="background-color: rgb(63, 170, 63);">
                <!-- <div class="card-header">
                </div> -->
                <div class="card-body">
                    <!-- <h3 class="card-title">{{i.restname}}</h3> -->
                    <h4 class="card-text">{{i.itemname}}</h4>
                    <img class ="card-img-top rounded-circle " src="http://localhost:8080/rest/item/{{i.image}}" width="150" height="200" alt="{{i.image}} Not Found">
                    
                    <h5 class="card-text"> {{i.rate}} Rs</h5>
                    <p class="mx-auto">{{i.status}}</p>                  
                  
                </div>
                
              </div>
              <br>
        </div>
        
    </div>
    <pagination-controls (pageChange)="p=$event"></pagination-controls>
</div>