<app-restheader></app-restheader>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 ">
            <app-restaurantheader></app-restaurantheader>
        </div>
    </div>
    <div class="row">
        
        <div class="col col-4 col-sm-4">
                <br>
                <div class="card text-center" style="background-color: lightblue;">
                    <div class="card-header">
                        <h3 class="mx-auto">Manage Item</h3>                 
                    </div>
                    <div class="card-body">
                      <!-- <img class ="card-img-top rounded-circle " src="../../assets/img/usericon.jpg" width="1vw" height="100vw" alt=" Not Found"> -->
                      
                      <label for="itemname" style="float: left;"> Item Name</label>
                      <input type="text" class="form-control"name="itemname" id=""[(ngModel)]="item.itemname"  >
                    <br>
                    <label for="rate" style="float: left;"> Rate</label>
                    <input type="text" class="form-control" name="rate" id=""[(ngModel)]="item.rate"  >
                    <br>
                    <label for="status" style="float: left">Availability</label>
                    <select class="form-control" name="status" [(ngModel)]="item.status">
                        <option value="available"> Available</option>
                        <option value="not available">Not Available</option>
                    </select>
                    <br>
                    <input type="file" name="photo" ng2FileSelect [uploader]="uploader"
                    ([ngModel])='item.image' />
                    <br><br>
                    <input type="button" class="btn btn-success rounded " value=" Save " (click)=additem()> <br>
                      
                    </div>
                    <!-- <div class="card-footer text-muted">
                     
                    </div> -->
                  <br>
            </div>
        </div>
        <div class="col col-8 col-sm-8">
            <!-- <app-restviewitem></app-restviewitem> -->
            <div class="row">
                <div class="col col-4 col-sm-4 " *ngFor="let i of result| paginate:{itemsPerPage: 3, currentPage:p}">
                    <br>
                    <div class="card text-center" style="background-color: rgb(63, 170, 63);">
                        <div class="card-header">
                            <p class="mx-auto">{{i.status}}</p>                  
                        </div>
                        <div class="card-body">
                          <h3 class="card-title">{{i.name}}</h3>
                          <img class ="card-img-top rounded-circle " src="http://localhost:8080/rest/item/{{i.image}}" width="150" height="200" alt="{{i.image}} Not Found">
                          <br>
                          <h4 class="card-text">{{i.itemname}}</h4>
                          <h5 class="card-text"> {{i.rate}} Rs</h5>
                          <button class="btn btn-link" value="edit item" (click)=edititem(i._id,i.itemname,i.rate,i.status)> Edit Item</button>
                        </div>
                        
                      </div>
                      <br>
                </div>
            </div>
            
                <pagination-controls (pageChange)="p=$event"></pagination-controls>
        </div>
        
        <!-- <div class="col col-4 col-sm-4">
            </div> -->

    </div>
</div>